*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* ------------- navbar Start --------------*/
nav{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content:space-between;  
    position: fixed;
    z-index: 2;    
    
}
nav img{ 
    width: 195px;
    height: 10vh;
    padding-left:15vh ;
}
nav div ul{    
    padding-right: 45vh;
    position:relative ;
    top: 3vh;   
}
nav div ul li{
    display: inline-block;
    padding: 0 5vh;
    
}
nav div ul li a{
    text-decoration: none;
    color: #000;
}
nav div ul li a:hover{
   
    color: #788080;
}
nav div ul li button{
    border: none;
    background-color: #3b45ce;
    border-radius: 25px;
    width: 120px;
    height: 5vh;
}
nav div ul li button:hover{
       background-color: #020a7e;
}
nav div ul li button a{
    text-decoration: none;
    color: #fff;
}
nav div ul li button a:hover{
   
    color: #fff;
}

/* ------------ navbar end ------------------*/
/* ----------- section 1 Start --------------*/
.sec1{
    width: 100%;
    height: 100vh;
    background-color: #F2F6FC;
    
}
.sec1div1{
    width: 30%;
    height: 40vh;
    position: relative;
    left: 40vh;
    top: 30vh ;

}
.sec1div1h1{
    font-size:9vh ;
}
.sec1div1h5{
    font-size:2.7vh ;
}
.sec1img1{
    width: 35%;
    height: 7vh;
    margin-top: 8vh;
}
.sec1img2{
    width: 35%;
    height: 7vh;
}
.sec1div2{
    width: 40%;
    height: 40vh;
    position: relative;
    bottom: 35vh;
    left: 90vh;

}
.img12{
    position: relative;
    bottom: 50vh ;
    left: 14vh;
}
.sec1div2img0{
    width: 200% ;
    height: 49vh ;
    border-radius: 100%;
}

.sec1div2img1{
    width: 100% ;
    height: 49vh ;
    border-radius: 40px;   
}
.sec1div2img2{
  width: 100% ;
  height: 50vh ;
  position: relative;
  z-index: 1;
  bottom:50vh ;
 
}
.sec1div2img3{
    width:10% ;
  height:5vh ;
  position: relative;
  right: 10vh ;
  bottom: 110vh;
  font-size: 5vh;
  color: #2937F0;
  
  
  
}

.sec1div2img4{
    width: 10% ;
  height: 3vh ;
  position: relative;
  left: 50vh ;
  bottom: 150vh;
  color: #2937F0;
}

/* ------------ section 1 end --------------*/
/* ------------ section 2  Start --------------*/

.sec2div1{
          background-color: #901DE3;
          width: 100%;
          height: 40vh;
          text-align: center
}
.sec2div1h2{
    font-size: 5vh ;
    color: #fff;
    padding-top: 10vh;
}
.sec2div1img{
    width: 23%;
    height: 10vh ;
    padding-top: 4vh;
}
/* ------------ section 2 end --------------*/
/* ------------ section 3  Start --------------*/

.sec3{
    width: 100%;
    height: 100vh;
    background-color: #F2F6FC;
    
}
.sec3div1{
    width: 40%;
    height: 40vh;
    position: relative;
    top: 35vh;
    left: 20vh;

}
.img31{
    position: relative;
    bottom: 40vh;
    left: 10vh;
}
.sec3div1img0{
    width: 40% ;
    height: 24vh ;
    border-radius: 125px 0 0 125px;
}

.sec3div1img1{
    width: 100% ;
    height: 49vh ;
    border-radius: 80px; 
    position: relative; 
    right: 27vh;
    top: 2.7px;

}
.sec3div1img2{
  width: 37% ;
  height: 50vh ;
  position: relative;
  z-index: 1;
  bottom:50vh ;
 
}


.sec3divicon{
    width:40% ;
    height: 40%;
    position: relative;
    left: 90vh;
    bottom: 25vh;

}
.iconsec3{
    font-size: 10vh;
    color: #6229E9;
    
}
.sec3divicon1{
    text-align: center;
    width: 35%;
    height: 70%;
    
   
}
.sec3divicon2{
    text-align: center;
    width: 35%;
    height: 70%;
    
    position: relative;
    left: 60vh;
    bottom: 28vh;
}
.sec3divicon3{
    text-align: center;
    width: 35%;
    height: 70%;
    
    position: relative;
    bottom: 17vh;
}
.sec3divicon4{
    text-align: center;
    width: 35%;
    height: 70%;
    
    position: relative;
    left: 60vh;
    bottom: 45vh;
}


.sec3div2img3{
    width:10% ;
  height:5vh ;
  position: relative;
  left: 1vh;
  bottom: 100vh;
  font-size: 5vh;
  color: #2937F0;
  
  
  
}

.sec3div2img4{
    width: 10% ;
  height: 3vh ;
  position: relative;
  left: 50vh ;
  bottom: 150vh;
  color: #2937F0;
}
/* ------------ section 3 end --------------*/
/* ------------ section 4 Start --------------*/
.sec4{
    width: 100%;
    height: 100vh;
    background-color: #d9dcdf;
    
}
.sec4div1{
    
    width: 35%;
    height: 55vh;
    position: relative;
    top: 20vh;
    left: 20vh;
    

}
.sec4div1h3{

font-size: 10vh;
}
.sec4div1h5{
    font-size: 4vh;
    padding-top: 5vh;
    color: #6F767D;
}
.sec4div2{
    
    width: 45%;
    height: 90vh;
    position: relative;
    bottom: 50vh;
    left: 110vh;
}
.sec4div2img{
         
         width: 100%;  
         height: 90vh;
         border-radius: 100%;
         position:relative;
         left: vh;
}
/* ------------ section 4 end --------------*/
/* ------------ section 5 Start --------------*/
.sec5{
    width: 100%;
    height: 110vh;
    background-image: linear-gradient(to right,transparent,rgba(0,8,0,.7) ),linear-gradient(to left , transparent,rgba(0,8,0,.7) ), url("../img/planshet.jpg");
    
}
.sec5div1{
    
    width: 45%;
    height: 80vh;
    position: relative;
    top: 35vh;
    left: 35vh;
}
.sec5div1h2{
 font-size: 15vh;
 color: #fff;
}
.sec5div1 button{
    width: 35%;
    height: 10vh;
    border-radius: 50px;
    border-color: #fff;
    margin-top: 7vh ;
    background:transparent;
    position: relative;
    left: 15vh;
    
    cursor: pointer;
}
.sec5div1 button:hover{
    background-color: red;
    color: #000;
}
.sec5div1 button a{
    
    color: #fff;
    text-decoration: none;
    font-size: 3vh;
    
}
.sec5div1 button a:hover{
   
}


/* ------------ section 5 end --------------*/

/* ------------ section 6 Start --------------*/
.sec6{
    background-color: #532DEB;
    width: 100%;
    height: 40vh;
    
}
.sec6h4{
    text-align: center;
font-size: 8vh ;
color: #fff;
padding-top: 10vh;

}
.sec6div1{
    text-align: center;

    margin-top: 5vh;
}
.sec6img1{
   width: 12%;
  
   
  color: #2937F0;
  
  
  
}

.sec6img2{
   width: 12%;
  
  color: #2937F0;
}

/* ------------ section 5 end --------------*/
/* ------------ footer star--------------*/
footer{
    width: 100%;
    height: 20vh;
    background-color: #000;
}
footer h6{
     text-align: center;
     font-size: 3vh;
     color: #788080;
     padding-top: 7vh;
}
footer div{

}
footer div ul{
  text-align: center;
}
footer div ul li{
    display: inline-block;
    padding: 2vh;
    position: relative;
}
footer div ul li::before{
    content: '';
    position:absolute;
    width: 0;
    height: 2px;
    background-color:#788080 ;
    top: 30px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transition: 0.8s;
}
footer div ul li:hover::before{
    width: 100%;
}
footer div ul li a{
    text-decoration: none;
        color: #788080;
}
/* ------------ footer end--------------*/